{% extends 'Layouts/base_estudiante.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>Facturas</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID Factura</th>
                        <th>Fecha de Emisión</th>
                        <th>Fecha de Vencimiento</th>
                        <th>Valor</th>
                        <th>Pagado</th>
                        <th>Pagar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for factura in facturas %}
                        <tr>
                            <td>{{ factura.id_factura }}</td>
                            <td>{{ factura.fecha_emision }}</td>
                            <td>{{ factura.fecha_vencimiento }}</td>
                            <td>{{ factura.valor }}</td>
                            <td>
                                {% if factura.pagado %}
                                    ✅
                                {% else %}
                                    ❌
                                {% endif %}
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-3">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="id_factura" value="{{factura.id_factura}}">
                                            <input type="hidden" name="pagado" value="1">
                                            <button type="submit" class="btn btn btn-secondary btn-sm ms-3">✅</button>
                                        </form>
                                    </div>
                                    <div class="col-1">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="id_factura" value="{{factura.id_factura}}">
                                            <input type="hidden" name="pagado" value="0">
                                            <button type="submit" class="btn btn btn-secondary btn-sm ms-3">❌</button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}