{% extends 'Layouts/base_estudiante.html' %}

{% block content %}
        <div class="row">
        <div class="col">
            <h2>Clases Registradas</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Materia</th>
                        <th>Horario</th>
                        <th>Profesor</th>
                        <th>Aula</th>
                        <th>Tipo de Clase</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for clase in clases %}
                        <tr>
                            <td>{{ clase.id_materia.nombre_materia }}-{{clase.id_clase}}</td>
                            <td>{{clase.horario}}</td>
                            <td>{{clase.id_profesor.nombre_completo}}</td>
                            {% if clase.id_aula_id is None %}
                                <td>Aula no Asignada</td>
                            {% else %}
                                <td>{{clase.id_aula.numero_bloque}}-{{ clase.id_aula.numero_aula }}</td>
                            {% endif %}
                            <td>{{clase.tipo_clase}}</td>
                            <td>
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="id_clase" value="{{clase.id_clase}}">
                                    <button type="submit" class="btn btn btn-success">Registrar</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}