<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <nav class="navbar ps-5 navbar-expand-sm navbar-light bg-light" style="background-color: burlywood">
        <h2>{{ title }}</h2>
    </nav>
</head>
<body>
    <div class="container-fluid bg-light bg-gradient">
        <div class="row">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="alert alert-dismissible alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                            <strong class="text-dark">{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>