<!DOCTYPE html>
<html lang="es">
<head>
    <title>{{ tittle }}</title>
    <meta charset="UTF-8">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <nav class="navbar navbar-expand ps-5  navbar-light bg-light">
        <p class="ms-5 mt-3">
            <strong>Administrador</strong>
        </p>
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-brand" href="{% url 'crud_admin' %}">
                            {% load static %}
                            <img src="{% static 'Settings.png' %}" width=30 height=30 alt="">
                        </a>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="nav-link" href="{% url 'crud_profesores' %}">Profesores</a>
                    </li>
                    <li class="nav-item dropdown ms-5">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Materias
                        </a>
                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDropdown">
                            <li class="nav-item ms-4"><a class="nav-link" href="{% url 'crud_materias' %}">Materias</a></li>
                            <li class="nav-item ms-4"><a class="nav-link" href="{% url 'crud_prerrequisitos' %}">Prerrequisitos</a></li>
                            <li class="nav-item ms-4"><a class="nav-link" href="{% url 'crud_aprobadas' %}">Aprobadas</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</head>
<body>
    <div class="container-fluid bg-light bg-gradient">
        <div class="row">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="alert alert-dismissible alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                            <strong class="text-dark">{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <script>
        function filterTable(event) {
            var filter = event.target.value.toLowerCase();
            var rows = document.querySelectorAll("#table-body tr");

            rows.forEach(function(row) {
                var columns = row.querySelectorAll("td");
                var visible = false;

                columns.forEach(function(column) {
                    if (column.innerHTML.toLowerCase().indexOf(filter) > -1) {
                        visible = true;
                    }
                });

                if (visible) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            });
        }

        var searchInput = document.querySelector("#search");
        searchInput.addEventListener("input", filterTable);
    </script>
</body>
</html>