{% extends 'Layouts/base_principal.html' %}

{% block content %}
    <div class="container-fluid bg-light bg-gradient">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-2 bg-light bg-gradient">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group mt-2">
                        <label for="documento">Documento de Identidad</label>
                        <input type="number" class="form-control" id="documento" name="documento" placeholder="Documento de Identidad" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="contraseña">Contraseña</label>
                        <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="Nueva Contraseña" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="contraseña_confirmación">Confirmar Contraseña</label>
                        <input type="password" class="form-control" id="contraseña_confirmación" name="contraseña_confirmación" placeholder="Confirmar Contraseña" required>
                    </div>
                    <button type="submit" class="btn mt-4 btn-primary">Cambiar Contraseña</button>
                    <button type="submit" onclick="location.href='{% url 'iniciar_sesion' %}'" class="btn mt-4 btn-secondary">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}